
<span #selector
    *ngIf="!editMode && removable && isSelectable()" 
    tabindex="0" 
    class="selection fa"
    (click)="select()"></span>
<input 
    *ngIf="editMode" 
    class="editor" 
    (blur)="tabout($event)"
    (keyup)="edit($event)" 
    [value]="name"
    [attr.maxlength]="maxlength"
    [attr.placeholder]="placeholder" #editor/>
<div class="autocomplete off" *ngIf="editMode && autocomplete" #filler>
  <ul>
      <li *ngFor="let x of fillerList; let i = index" 
        (click)="selectedFiller = i" 
        [class.selected]="selectedFiller === i"
        [textContent]="x"></li>
  </ul>
</div>
<span #holder
    *ngIf="!editMode && placeholder" 
    [tabindex]="isEditable() ? 0 : -1" 
    [innerHTML]="placeholder"></span>
<span #holder
    *ngIf="!editMode && !placeholder" 
    [tabindex]="isEditable() ? 0 : -1" 
    [rawContent]="name"
    intoName="audio 1" intoId="audio1" 
    [into]="format"
    [onComponentChange]="componentChanged.bind(this)"></span>
<span 
    *ngIf="!editMode && removable" 
    tabindex="0" 
    class="remove fa fa-times" 
    (click)="remove()"></span>
<span 
    *ngIf="!removable" 
    class="placeholder fa fa-plus-circle"></span>