:host {
  background-color: #fff;
  border: 1px inset #888;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  min-height: 50px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;

  &.alert {
    background-color: #ff9f9b;
    border-color: #880500;
  }
}
:host:focus {
  border-color: #0ba;
}
:host:hover {
  background-color: #ddd;
}
